<nav class="navbar navbar-default nav-mod">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img height="60px" src="https://mettl.com/prelogin/resources/images/mettl.png" alt="Mettl-logo" class="img-responsive"> </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Testlist
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="#">Resources</a>
        </li>
        <li>
          <a href="#">Our customers</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown " >
          <a href="" class="dropdown-toggle">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
              <span class="account-name ellipsis" data-ng-non-bindable="">Sanjeet Kumar</span>&nbsp;
              <span class="caret glyphicon air-icon-arrow-expand media-body-right" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
