/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('./assets/style.css');

html{
    font-size: 10px;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1.6rem;
    background: #f2f2f2;
}