.content {
  background: #f2f2f2;
  height: 95vh;
}

.nav-mod {
  padding: 10px 0px;
  background: #fff;
  border-color: #fff;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  margin-bottom: 0px;
  border-radius: 0;
  min-height: 70px
}

.nav-mod a.navbar-brand {
  margin-top: -15px;
}

div#login-form {
  padding: 30px 0px 0px;
}

.login-wrapper {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 48rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px #ddd;
  -moz-box-shadow: 0 0 1px #ddd;
  box-shadow: 0 0 1px #ddd;
  min-height: 32.5rem;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(89, 105, 128, .1), 0 1px 3px 0 rgba(89, 105, 128, .1), 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.head {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 1.5rem 0;
  -webkit-border-top-left-radius: .5rem;
  -webkit-border-top-right-radius: .5rem;
  -moz-border-radius-topleft: .5rem;
  -moz-border-radius-topright: .5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.head a {
  color: #00accd;
  text-decoration: none;
  cursor: pointer;
}

.img-responsive {
  margin: 0 auto;
}

.input-field {
  border-radius: 0px;
  border: 1px solid #d2d2d2;
}

input#inputEmail {
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  border-bottom: 0px;
}

#form-signin {
  background: #fff;
  border-color: #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#form-signin input {
  font-weight: 300;
  display: block;
  width: 100%;
  min-height: 40px;
  height: 40px;
  padding: 10px 19px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #656565;
  background-color: #fff;
  background-image: none;
  font-size: 13px;
  line-height: 13px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

#form-signin input {
  padding: 1rem .5rem;
  margin: 0;
  -webkit-text-fill-color: #636363;
}

#form-signin {
  width: 32rem;
  margin: 0 auto;
  z-index: 99;
  position: relative;
}

.error {
  text-align: left;
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  color: red;
  text-align: left;
}

label.error span {
  padding-right: 10px;
}

.input-group-addon i {
  color: #1b4448;
}

.small-caption {
  padding: 1.5rem;
  font-family: inherit;
  font-size: 13px;
  font-weight: 100;
  border-top: 1px solid #ececec;
}

.small-caption a {
  color: #4cd964;
}

/* Error */

/** modifications  **/

.form-group {
  margin-bottom: 0px;
  position: relative;
  border: 1px solid #e6e1e1;
  border-radius: 2px;
}

.form-control {
  box-shadow: none !important;
}

.input-group-addon {
  border: none;
  background: none;
}

#form-signin input {
  font-weight: 300;
  display: block;
  width: 100%;
  min-height: 40px;
  height: 40px;
  padding: 10px 19px;
  border: none;
  padding: 10px 19px 10px 0px;
}

/* btn  */

.btn {
  padding: 11px 28px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  border: solid 2px transparent;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-image: none;
  -webkit-transition: all .15s;
  transition: all .15s;
  -webkit-box-shadow: 0 1px 5px rgba(57, 73, 76, 0.21);
  box-shadow: 0 1px 5px rgba(57, 73, 76, 0.21);
}

.btn-primary {
  color: #fff;
  background-color: #1b4448;
  border-color: transparent;
}

.btn-success {
  color: #fff;
  background-color: #27AE60;
}

.btn-default {
  color: #27AE60;
  background-color: #fff;
}
.btn-sm {
  width: 218px;
  min-width: 218px;
  max-width: none;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

.navbar-nav>li>a, .dropdown-menu-subnav>li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 12px;
    color: #666;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
 {
    color: #27AE60;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #27AE60;
    background-color: transparent;
    text-transform: uppercase;
 
}
div#bs-example-navbar-collapse-1 {
    margin-top: 4px;
}

ul.nav.navbar-nav {
    padding-left: 20px;
}

.media.media-dropdown {
    max-width: 300px;
}

.avatar-xs {
    max-height: 50px;
    min-height: 40px;
}

.test-list {
  margin-top: 15px;
}

.test-name {
  font-weight: 600;
  font-size: 14px;
}

.icon-svg {
  height: 50px;
  margin-bottom: 15px;
}
