.filter {
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 0 1px rgba(89, 105, 128, .1), 0 1px 3px 0 rgba(89, 105, 128, .1), 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.filter-top {
    padding: 10px 25px;
    border-bottom: 1px solid #eee;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 2px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: 0 0 0 1px rgba(89, 105, 128, .1), 0 1px 3px 0 rgba(89, 105, 128, .1), 0 1px 2px 0 rgba(0, 0, 0, .05);
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #1b4448;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 17px;
}

.filter-bottom ul li > a {
    font-size: 11px;
}

.test-container {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
}

.test-n {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    
}
.card__side--front{
    border-radius: 2px;
    background-color: #fff;
    min-height: 10rem;
    color: #1b4448;
    width: 225px;
    padding: 40px 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 0 1px rgba(89, 105, 128, .1), 0 1px 3px 0 rgba(89, 105, 128, .1), 0 1px 2px 0 rgba(0, 0, 0, .05);
    
}

.test-container:hover .test-front {
    transform: rotateY(-180deg);
  }
  
  .test-container:hover .test-back {
    transform: rotateY(0);
  }


.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 25rem;
    border-radius: 2px;
    min-height: 10rem;
    color: #1b4448;
    width: 225px;
    padding: 40px 20px;
    text-align: center;
  }
  
  .card__side {
    height: 25rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  
  .card__side--front {
    background-color: #fff;
  }
  
  .card__side--back {
    transform: rotateY(180deg);
    background-color: #fff;
    
  }
 
  
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  
  .card:hover .card__side--back {
    transform: rotateY(0);
  }

  .card__cta {
    padding: 100px 0px;
    }
    .test-list .col-sm-3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }