<app-navbar></app-navbar>
<main class="dashboard">
  <div class="container">
    <div class="row">
      <div class="filter clearfix">
        <div class="filter-top clearfix">
          <div class="col-sm-8 col-xs-12">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="form-control input-sm" placeholder="Buscar" />
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="lang pull-right">
              <div class="dropdown">
                <small class="text-muted">Language: &nbsp;</small>
                <button class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true">
                  English
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <a href="#">Action</a>
                  </li>
                  <li>
                    <a href="#">Another action</a>
                  </li>
                  <li>
                    <a href="#">Something else here</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#">Separated link</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-bottom clearfix">
          <div class="col-sm-12">
            <div class="test-types">
              <div class="col-sm-12">
                <ul class="nav navbar-nav">
                  <li>
                    <a>
                      <small class="text-muted">Filter Tests By: </small>
                    </a>
                  </li>
                  <li class="active">
                    <a href="#">Job Roles/Functions
                      <span class="sr-only">(current)</span>&nbsp;
                      <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test Types&nbsp;
                      <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Action</a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Industry&nbsp;
                      <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#">IT Skill Tests&nbsp;
                      <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Disciplinary Tests&nbsp;
                      <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="test-list clearfix">
        <div class="col-sm-3 col-xs-2"
        *ngFor="let test of testList">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="icon">
                <img src="../../assets/img/test.svg" class="img-responsive icon-svg">
              </div>
              <p class="test-name">
                {{ test.testname }}
              </p>
              <small class="text-muted">
                {{ test.desc }}
              </small>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <a (click)="testSelect(test)" class="btn btn-success">Take Test</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
