<nav class="navbar navbar-default nav-mod">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img height="60px" src="https://mettl.com/prelogin/resources/images/mettl.png" alt="Mettl-logo" class="img-responsive"> </a>
    </div>
  </div>
  <!--/.container-fluid -->
</nav>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="login-wrapper">
        <div id="form">
          <div id="login-form">

            <h3 class="text-center">Login</h3>
            <br>
            <form id="form-signin" (submit)="loginSubmit($event)">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </div>
                  <input type="email" id="inputEmail" name="email" ngModel class="form-control input-field" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                    #em="ngModel" autofocus>
                </div>
              </div>
              <div class="error">
                <label class="error" *ngIf="!emailhasValue"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Please enter email</label>
                <label class="error" *ngIf="!emailValidate"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Please enter a valid email</label>
                <label class="error" *ngIf="notFound"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Email does not exists</label>
              </div>
              <br>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </div>
                  <input type="password" id="inputPassword" name="password" ngModel class="form-control input-field" placeholder="Password"
                    #ps="ngModel" minlength="1" required>
                </div>
              </div>
              <div class="error">
                <label class="error" *ngIf="!passwordhasValue">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Please enter password
                </label>
                <label class="error" *ngIf="!validPassword">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Incorrect password
                </label>
              </div>
              <br>
              <br>
   
              <button type="submit" class="btn btn-primary btn-sm">Login</button>
            
           <div id="remember" class="checkbox">

              </div>

            </form>
            <br>
          </div>
          <div class="small-caption">
            <p>Not Register Yet?

              <span>
                <a [routerLink]="['/signup']">Sign Up Now</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
