<div class="container">
  <div class="row">
    <div class="main-page clearfix">
      <div class="col-sm-8">
        <div class="main-left">
          <div class="question-container">
            <div class="question-box">
              <span>Question No. 1</span>
              <h3 class="ques-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. ? </h3>
            </div>
          </div>
          <div class="ans-container">
            <div class="ans-box">
              <form action="" data-toggle="validator">
                <div class="form-inline required">
                  <div class="form-group has-feedback">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" name="test" value="0" />
                      </span>
                      <div class="form-control form-control-static">
                        Option A
                      </div>
                      <span class="glyphicon form-control-feedback "></span>
                    </label>
                  </div>
                  <div class="form-group has-feedback ">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" name="test" value="1" />
                      </span>
                      <div class="form-control form-control-static">
                        Option B
                      </div>
                      <span class="glyphicon form-control-feedback "></span>
                    </label>
                  </div>
                  <div class="form-group has-feedback ">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" name="test" value="2" />
                      </span>
                      <div class="form-control form-control-static">
                        Option C
                      </div>
                      <span class="glyphicon form-control-feedback "></span>
                    </label>
                  </div>
                  <div class="form-group has-feedback ">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" name="test" value="3" />
                      </span>
                      <div class="form-control form-control-static">
                        Option D
                      </div>
                      <span class="glyphicon form-control-feedback "></span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="listing-container">
          <div class="listen-box">
            <div class="audio-animation">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="lsiten-status">
            <mat-card *ngIf="notification" class="notification">{{notification}}</mat-card>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
<form>
  <mat-form-field class="speech-result-width">
    <textarea matInput [value]="finalTranscript" placeholder="Speech Input Result" rows="15" disabled="true"></textarea>
  </mat-form-field>
</form>








<!-- <div class="container">

  <div class="ques-area">
      <form>
            <textarea class ="col-sm-12" rows="5" disabled="true">Question is what?</textarea>
        </form>
  </div>
  <br>

  <div class="center">
    <button mat-fab (click)="startButton($event)">
      <mat-icon *ngIf="!recognizing">mic</mat-icon>
      <mat-icon *ngIf="recognizing">stop</mat-icon>
    </button>
  </div>
  
  <form>
      <div class="radio">
        <label><input type="radio" name="optradio">Option A</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">Option B</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">Option C</label>
      </div>
      <div class="radio">
          <label><input type="radio" name="optradio">Option D</label>
        </div>
    </form>
  <form>
    <mat-form-field class="speech-result-width">
      <textarea matInput [value]="finalTranscript" placeholder="Speech Input Result" rows="15" disabled="true"></textarea>
    </mat-form-field>
  </form>
  
  <mat-card *ngIf="notification" class="notification">{{notification}}</mat-card>
  
</div>

<div class="testData">
  {{ testData }}
</div>
 -->
