.speech-result-width {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.center {
  padding: 10px;
  text-align: center;
}

.mat-input-element:disabled {
  color: rgba(0,0,0,.9);
}

.notification {
  margin-left: 20px;
  margin-right: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}
.mat-radio-button {
  display: block;
}


.main-page {
  background: #fff;
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  margin-top: 10%;
}

.main-left{
  padding: 20px;

}
.question-container{
  padding: 20px 0px;
  margin-right: 20px;
  border-bottom: 1px solid #d6d5d5;
}

.ans-container {
  padding: 30px 0px;
  margin-right: 20px;
}

.form-group.has-feedback {
  border: 1px solid #fff;
  display: block;
  margin: 8px 0px;
  box-shadow: 0 0 0 1px rgba(89, 105, 128, .1), 0 1px 3px 0 rgba(89, 105, 128, .1), 0 1px 2px 0 rgba(0, 0, 0, .05);

}

.form-group.has-feedback label {
  margin-bottom: 0px;
}
.form-group.has-feedback .form-control {
 border: none;
}


.listen-box span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: #9b59b6;
  position: absolute;
  animation: audio-wave 1.5s infinite ease-in-out;
}

.listen-box span:nth-child(2) {
left: 11px;
animation-delay: 0.2s;
}

.listen-box span:nth-child(3) {
left: 22px;
animation-delay: 0.4s;
}

.listen-box span:nth-child(4) {
left: 33px;
animation-delay: 0.6s;
}

.listen-box span:nth-child(5) {
left: 44px;
animation-delay: 0.8s;
}

@keyframes audio-wave {
    0% {height:5px;transform:translateY(0px);background:#27AE60;}
    25% {height:40px;transform:translateY(20px);background:#3498db;}
/*effect is to animate the height of each span from 5px to 30px*/
/*translateY makes Y axis move down to give the effect that it is growing from the center*/

    50% {height:5px;transform:translateY(0px);background:#27AE60}
    100% {height:5px;transform:translateY(0px);background:rgb(9, 128, 58)}
}
.audio-animation {
  display: block;
  position: relative;
  padding: 20px;
  margin: 100px;
}

.main-left {
  border-right: 1px solid #eee;
}